@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #edeef0;
}

.scrollerbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollerbar-hide {
    scrollbar-width: none;
}