@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #eef0f0;
}

:root {
    --background: white;
    --foreground: black;
}

.dark {
    --background: #111827;
    --backgroundContainer: #3a3a3a;
    --foreground: #f9fafb;
    --foregroundContainer: #ffffff;
}